/* LayoutsPage.css */
.file-upload-section {
    text-align: center;
  }
  
  .drag-drop-area {
    border: 2px dashed #aaa;
    padding: 20px;
    margin-top: 10px;
    background-color: #f9f9f9;
    color: #888;
    cursor: pointer;
  }
  
  .drag-drop-area span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
  }
  
  h3, h4 {
    color: #3a3a3a;
  }
  
  .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  